<%#
Copyright 2008-2013 Concur Technologies, Inc.

Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License. You may obtain
a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations
under the License.
%>
<% language_tabs = current_page.data.language_tabs || [] %>
<% whats_on_page = current_page.data.whats_on_page || false %>
<% page_content = yield %>
<%
  if current_page.data.includes
    current_page.data.includes.each do |include|
      page_content += partial("includes/#{include}")
    end
  end
%>
<% layout = 'page' %>
<%
  if language_tabs.any?
    layout = 'docs'
  end
%>

<!doctype html> 
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
    <title><%= current_page.data.title || "CoCart API Reference" %></title>

    <meta name="description" content="<%= current_page.data.meta_description %>" />
    <% if current_page.data.seo_index %>
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <% else %>
    <meta name="robots" content="noindex, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <% end %>
    <link rel="canonical" href="https://docs.cocart.xyz/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="CoCart API Reference" />
    <meta property="og:description" content="<%= current_page.data.meta_description %>" />
    <meta property="og:url" content="https://docs.cocart.xyz/" />
    <meta property="og:site_name" content="CoCart API Reference" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://docs.cocart.xyz/images/cocart-social-card.png" />
    <meta name="twitter:site" content="@cocartapi" />

    <link rel="icon" href="https://docs.cocart.xyz/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" href="https://docs.cocart.xyz/images/favicon-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="https://docs.cocart.xyz/images/favicon-180x180.png" />
    <meta name="msapplication-TileImage" content="https://docs.cocart.xyz/images/favicon-270x270.png" />
    <meta name="msapplication-TileColor" content="#6032b0" />
    <meta name="theme-color" content="#6032b0" />

    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link crossorigin rel='preconnect' href='https://fonts.gstatic.com' />
    <link rel='stylesheet' id='frost-fonts-css' href='https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&#038;display=swap' media='all' />

    <meta name="google-site-verification" content="Uy3jWeNTrD16tTQlKFRED88Esbb1y08VXiUmvWv_yUQ" />

    <style media="screen">
      <%= Rouge::Themes::MonokaiSublimeSlate.render(:scope => '.highlight') %>
    </style>
    <style media="print">
      * {
        transition:none!important;
      }
      <%= Rouge::Themes::Base16::Solarized.render(:scope => '.highlight') %>
    </style>
    <%= stylesheet_link_tag :screen, media: :screen %>
    <%= stylesheet_link_tag :print, media: :print %>
    <% if current_page.data.search %>
      <%= javascript_include_tag  "all" %>
    <% else %>
      <%= javascript_include_tag  "all_nosearch" %>
    <% end %>

    <% if current_page.data.code_clipboard %>
    <script>
      $(function() { setupCodeCopy(); });
    </script>
    <% end %>

  </head>

  <% if current_page.data.warning %>
    <body class="<%= page_classes %> warning" data-languages="<%=h language_tabs.map{ |lang| lang.is_a?(Hash) ? lang.keys.first : lang }.to_json %>">

        <div id="warning-top">
            <%= current_page.data.warning %>
        </div>
  <% else %>
    <body class="<%= page_classes %>" id="<%= layout %>" data-languages="<%=h language_tabs.map{ |lang| lang.is_a?(Hash) ? lang.keys.first : lang }.to_json %>">
  <% end %>

    <a href="#" id="nav-button">
      <span>
        NAV
        <%= image_tag('navbar.png') %>
      </span>
    </a>
    <% if layout == "page" %>
    <div class="root">
    <% end %>
    <div class="toc-wrapper">
      <a href="https://docs.cocart.xyz/index.html"><%= image_tag "logo.png", class: 'logo' %></a>
      <% if language_tabs.any? %>
        <div class="lang-selector">
          <% language_tabs.each do |lang| %>
            <% if lang.is_a? Hash %>
              <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
            <% else %>
              <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% if layout == "docs" %>
        <div class="api-versions">
          <label for="api-version">API Version:</label>
          <select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
            <option value="https://docs.cocart.xyz/core/version/v3.4/api-v2.html" selected="selected">CoCart v3.4 - API v2</option>
            <option value="https://docs.cocart.xyz/core/version/v3.0/api-v2.html">CoCart v3.0 - API v2</option>
            <option value="https://docs.cocart.xyz/core/version/v3.0/api-v1.html">CoCart v3.0 - API v1</option>
            <option value="https://docs.cocart.xyz/core/version/v2.0/api-v1.html">CoCart v2.0 - API v2</option>
          </select>
        </div>
      <% end %>
      <% if current_page.data.search %>
        <div class="search">
          <input type="text" class="search" id="input-search" placeholder="Search">
        </div>
        <ul class="search-results"></ul>
      <% end %>
      <ul id="toc" class="toc-list-h1">
        <% toc_data(page_content).each do |h1| %>
          <li>
            <a href="#<%= h1[:id] %>" class="toc-h1 toc-link" data-title="<%= h1[:title] %>"><%= h1[:content] %></a>
            <% if h1[:children].length > 0 %>
              <ul class="toc-list-h2">
                <% h1[:children].each do |h2| %>
                  <li>
                    <a href="#<%= h2[:id] %>" class="toc-h2 toc-link" data-title="<%= h2[:title] %>"><%= h2[:content] %></a>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
      </ul>
      <% if current_page.data.menu %>
        <ul class="toc-footer">
          <% current_page.data.menu.each do |menu_item| %>
            <li><%= menu_item %></li>
          <% end %>
        </ul>
      <% end %>
      <% if current_page.data.toc_footers %>
        <ul class="toc-footer">
          <% current_page.data.toc_footers.each do |footer| %>
            <li><%= footer %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="page-wrapper">
      <% if layout == "page" %>
        <div class="container">
          <div class="content-container">
            <div style="display:flex; flex-direction: row;">
              <div class="content">
                <%= page_content %>
              </div>
              <% if current_page.data.whats_on_page %>
              <div class="whats-on-page">
                <span>On this page</span>
                <ul>
                  <% toc_data(page_content).each do |h1| %>
                    <li><a href="#<%= h1[:id] %>" class="link" data-title="<%= h1[:title] %>"><%= h1[:content] %></a></li>
                  <% end %>
                </ul>
              </div>
              <% end %>
            </div>
            <div class="footer">
              <div class="footer-links">
                <p>Questions? <a href="https://cocart.xyz/contact/" target="_blank" rel="noopener noreferrer">Contact us</a></p>
                <p>Check out the <a href="https://github.com/co-cart/co-cart/blob/trunk/CHANGELOG.md" target="_blank" rel="noopener noreferrer">changelog.</a></p>
              </div>
              <div class="footer-signup">
                <form action="https://xyz.us1.list-manage.com/subscribe/post?u=48ead612ad85b23fe2239c6e3&amp;id=d462357844&amp;SIGNUPPAGE=plugin" method="post" target="_blank">
                  <div class="newsletter-form-container">
                    <label for="sign-up-for-developer-updates">Sign up for developer updates:</label>
                    <input class="newsletter-form-email" type="email" name="EMAIL" placeholder="Email address" required="required">
                    <button type="submit" value="Yes please!" name="subscribe" class="button newsletter-form-button">Yes please!</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <% else %>
        <div class="content">
        <%= page_content %>
        </div>
      <% end %>
      <% if layout == "page" %>
      </div>
      <% end %>
  
      <% if language_tabs.any? %>
        <div class="dark-box">
          <div class="lang-selector">
            <% language_tabs.each do |lang| %>
              <% if lang.is_a? Hash %>
                <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
              <% else %>
                <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
      </div>

    </body>
</html>
